body {
    /*background-image: url("/image/background.jpg");*/
    /*background-color: #25575A;*/
    /*color: white;*/
    background-image: url("../img/background.png");
    width: 100%;
    height: auto;
    background-size: 100%;
}

.navbar {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
}