.navbar-default .navbar-nav li a {
    color: white;
}

.row {
    padding: 0 50px;
    margin: 15px 0;
}

.row a {
    display: block;
    background-color: rgb(85,185,192);
    color: white;
    width: 80px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    margin: 2px;
}

.row a:hover {
    text-decoration: none;

}

.item-head {
    width: 200px;
}

.item-content {
    width: 100px;
}
