<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zcontrol-{% block title %}{% endblock %}</title>
    {#        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    {#     导入jquery的css,因为bootstrap依赖jquery#}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    {#        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->#}
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/zook.ico') }}" type="image/x-icon" />
    {% block head %}{% endblock %}
</head>
<article>{% block article %}{% endblock %}</article>
<body>
{#todo 集群多了，导航条跟着一直在页面上#}

{#导航条#}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Overview</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('readme') }}">HowToUse</a>
        </div>
        <div style="float: right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">{{ session['user_id'] }}</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block main %}{% endblock %}

<div class="footer">Teamshub Co. Ltd</div>
</body>
</html>


